.card {
    cursor: pointer;
    transition: all 0.3s ease;
    min-width: 200px;
    margin: 0.5rem;
    border: 1px solid gray;
    border-radius:  8px;
    min-height: 200px;
    color: white;
}
.card:hover {
    background-color: #4899EA;
}

.selected {
    background-color: #4899EA;
    transform: translateY(-2%);
}